
.lava{
    margin: 0px;
    padding: 0px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 200px;
    background: -webkit-linear-gradient(90deg,orange,red);
    border-radius: 58% 42% 43% 57% / 68% 22% 78% 32% ;
    animation: lava 20s infinite;
    z-index: -1;
    opacity: 0.25;
   
   
   }
   
   @keyframes lava {
   
       25%{
   top: 80%;
   left: 60%;
   border-radius: 94% 6% 43% 57% / 32% 66% 34% 68% ;
       }
   
   
       50%{
   
   top: 70%;
   left: 50%;
   border-radius: 26% 74% 43% 57% / 32% 100% 0% 68% ;
       }
   
   75%{
       top: 65%;
   left: 40%;
   border-radius: 2% 98% 13% 87% / 91% 41% 59% 9% ;
   
   
   }
   
   }